---
// Layout import
import BaseLayout from "../../layouts/BaseLayout.astro";

// Component import
import CardWriting from "../../components/ui/CardWriting.astro";

import { getCollection } from "astro:content";

let notes = await getCollection("notes", ({ data }) => {
    if (import.meta.env.DEV) {
        return true;
    }
    return data.draft !== true;
});

notes = notes.sort(
    (a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
);

const {
    title = "Notes",
    description = "A collection of technical notes and personal references.",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>{title}<span class="text-red">.</span></h1>
                <p class="text-tx-2">{description}</p>
            </article>

            <div class="@container mt-8 flex flex-col gap-y-2">
                {
                    notes.map((note) => (
                        <CardWriting post={note} collection="notes" />
                    ))
                }
            </div>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
