---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    text: string;
    icon?: string;
}

const { href, text, icon, ...rest } = Astro.props;

// Detect external links
const isExternal = href.startsWith("http");
const target = isExternal ? "_blank" : "_self";
const rel = isExternal ? "noopener noreferrer" : undefined;
---

<a
    href={href}
    target={target}
    rel={rel}
    class="not-prose group border-ui hover:border-ui-3 flex w-full items-center justify-center gap-x-2 rounded-md border px-8 py-2 transition-all duration-300 ease-in-out hover:shadow-md"
    {...rest}
>
    {
        icon && (
            <Icon
                name={icon}
                size={18}
                class="text-tx-2 group-hover:text-red shrink-0 transition-colors duration-300 ease-in-out"
            />
        )
    }
    <span
        class="group-hover:text-red font-medium transition-colors duration-300 ease-in-out"
        >{text}</span
    >
</a>
