---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    text: string;
    icon?: string; // for astro-icon
    imgSrc?: string; // for custom image/svg
    imgAlt?: string;
}

const { href, text, icon, imgSrc, imgAlt } = Astro.props;

// Detect external links
const isExternal = href.startsWith("http");
const target = isExternal ? "_blank" : "_self";
const rel = isExternal ? "noopener noreferrer" : undefined;
---

<a
    href={href}
    target={target}
    rel={rel}
    class="group relative inline-flex items-baseline gap-x-1.5 pl-0.5 transition-colors duration-300 ease-in-out"
>
    {
        icon && (
            <Icon
                name={icon}
                class="text-tx-2 group-hover:text-tx size-4 translate-y-0.5 transition-all duration-300 ease-in-out group-hover:scale-105"
            />
        )
    }

    {
        imgSrc && (
            <img
                src={imgSrc}
                alt={imgAlt || text}
                class="my-0 h-4 w-auto object-contain"
                loading="lazy"
            />
        )
    }

    {text}
</a>
