---
// layout import
import BaseLayout from "./BaseLayout.astro";

// Utils import
import { formatDate } from "../utils/formatDate";

// component import
import GiscusClosed from "../components/page/GiscusClosed.astro";
import TableOfContents from "../components/page/TableOfContents.astro";

const { frontmatter, headings, timeToRead } = Astro.props;

const { type, title, description, pubDate, updatedDate, cover, tags, toc } =
    frontmatter;
---

<BaseLayout title={title} description={description} image={cover}>
    <section class="container-grid">
        {/* Page Meta Start */}
        <section class="container-side"></section>

        <section class="container-main">
            <article class="mb-8 md:mb-12">
                <h1 class="mb-2 leading-normal">{title}</h1>

                <div class="*:text-tx-2 space-x-2 text-sm">
                    <span>
                        {formatDate(updatedDate, "long")}
                    </span>
                    <span class="font-bold">&middot;</span>
                    <span>{timeToRead} minute read</span>
                </div>
            </article>
        </section>

        <section class="container-side"></section>
        {/* Page Meta End */}

        {/* Main Content Start */}
        <section class="container-side pl-4">
            {toc && <TableOfContents headings={headings} />}
        </section>

        <section class="container-main">
            <article class="slide-enter-content">
                <slot />
            </article>
        </section>

        <section class="container-side"></section>
        {/* Main Content End */}

        {/* Comment Start */}
        <section class="container-side"></section>

        <section class="container-main mt-12">
            <article>
                <h2>Comments</h2>
            </article>
            <GiscusClosed />
        </section>

        <section class="container-side"></section>
        {/* Comment End */}
    </section>
</BaseLayout>
