---
type BasePost = {
    id: string;
    data: {
        title: string;
        description: string;
        updatedDate: string | Date;
        version?: string;
    };
};

type Props = {
    post: BasePost;
    collection: string;
};

const { post, collection } = Astro.props;
const { title, description, updatedDate, version } = post.data;
---

<a href={`/${collection}/${post.id}`} class="group flex flex-col gap-y-1 py-1">
    <span class="flex flex-wrap items-center gap-4">
        <span
            class="decoration-tx-3 group-hover:decoration-red group-hover:text-red shrink-0 font-medium underline underline-offset-4 transition-colors duration-300 ease-in-out"
        >
            {title}
        </span>
        {
            version && (
                <span class="border-ui-2 bg-bg-2 rounded-full border px-2 py-0.5 text-xs font-light">
                    v{version}
                </span>
            )
        }
    </span>
    <span class="text-tx-2 shrink-0">{description}</span>
</a>
